@use "sass:map";

body {
  // background-color: map.get($cream, default);
}

img {
  width: 100%;
}

.object-cover {
  object-fit: cover;
  height: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.skip-to-content-btn {
  z-index: 101;
  position: fixed;
  top: 140px;
  left: map.get($grid-column-gutter, large);
  width: 0;
  height: 0;
  padding: 0;
  border: 0;
  opacity: 0;
  font-size: 0;

  &:focus {
    width: auto;
    height: auto;
    padding: 12px 24px;
    font-size: rem-calc(15px);
    opacity: 1;
  }
}

.hbspt-form {
  padding: 30px;
  background-color: $white;
  border-radius: 4px;
  border: 1.5px solid map.get($cream, dark);

  @include breakpoint(medium) {
    padding: 40px;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: none !important;

    @include breakpoint(medium) {
      flex-direction: row;
    }
  }

  fieldset + fieldset {
    margin-top: 30px;
  }

  .hs-error-msg,
  .hs-form-required {
    color: map.get($magenta, default) !important;
  }

  .hs-form-required {
    margin-left: 4px;
  }

  label {
    font-family: $font-tertiary;
    font-size: rem-calc(16px);
    font-weight: 600;
    font-style: normal;
    line-height: 120%;
    text-transform: uppercase;
    letter-spacing: 5%;
    color: map.get($indigo, default);
  }

  label + .input {
    margin-top: 10px;
  }

  .input {
    width: 100% !important;
    margin-right: 0 !important;
  }

  .input + .hs-error-msgs {
    margin-top: 10px;
  }

  .hs-input {
    width: 100% !important;
    height: 46px;
    padding: 0 16px;
    border-radius: 4px;
    border: 2px solid map.get($indigo, default);

    font-family: $font-secondary;
    font-size: rem-calc(16px);
    font-weight: 400;
    font-style: normal;
    line-height: 130%;
    color: map.get($indigo, default);
  }

  .hs-fieldtype-text,
  .hs-fieldtype-select,
  .hs-fieldtype-textarea {
    width: 100%;
  }

  .hs-input.hs-fieldtype-textarea {
    padding: 16px;
    height: 140px;
  }

  select {
    font-family: $font-secondary;
    font-size: rem-calc(16px);
    font-weight: 400;
    font-style: normal;
    line-height: 130%;
    color: map.get($indigo, default);
    background-size: 12px;
  }

  .inputs-list {

    label {
      display: flex !important;
      align-items: flex-start !important;
      column-gap: 8px !important;

      @include breakpoint(medium) {
        align-items: center !important;
      }
    }

    input {
      flex-shrink: 0;
      padding: 0 !important;
      width: 16px !important;
      height: 16px !important;
      border: 2px solid map.get($indigo, default) !important;
      appearance: none !important;
      margin: 0 !important;
    }
  }

  .hs_recaptcha {
    margin: 20px 0;
  }

  .hs_submit {
    margin-top: 60px;
  }

  .hs-button {
    @extend .btn--indigo;
  }

  input[type="checkbox"]:checked {
    background-color: map.get($indigo, default) !important;
  }
}