@use "sass:map";

body {
  // background-color: map.get($cream, default);
}

img {
  width: 100%;
}

.object-cover {
  object-fit: cover;
  height: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.skip-to-content-btn {
  z-index: 101;
  position: fixed;
  top: 140px;
  left: map.get($grid-column-gutter, large);
  width: 0;
  height: 0;
  padding: 0;
  border: 0;
  opacity: 0;
  font-size: 0;

  &:focus {
    width: auto;
    height: auto;
    padding: 12px 24px;
    font-size: rem-calc(15px);
    opacity: 1;
  }
}
