@use "sass:map";

.page {
  // > div + div:not(.context-section) {
  //   margin-top: 100px;
  // }

  > .article-grid + .article-grid {
    margin-top: 0;
  }

  > .context-section--background-default + div {
    margin-top: 0 !important;
  }

  // > div:last-child {
  //   margin-bottom: 100px;
  // }

  > .video {
    width: 100%;
    // max-width: ($grid-max-width / 12) * 8;
    // padding: 0 calc(map.get($grid-column-gutter, large) / 2);
    margin-right: auto;
    margin-left: auto;
  }

  > .accordion {
    width: 100%;
    max-width: ($grid-max-width / 12) * 8;
    padding: 0 calc(map.get($grid-column-gutter, large) / 2);
    margin-right: auto;
    margin-left: auto;
  }

  &__main {
    grid-column: span 12 / span 12;
  }
}

.post {
  &__blog {
    padding: 80px 0;

    .grid {
      padding: 0;
    }

    > .grid {
      padding: 0 40px;

      @include breakpoint(medium) {
        padding: 0;
      }
    }

    .media-context + .media-context {
      padding-top: 0;
    }
  }

  &__main {
    grid-column: span 12 / span 12;

    @include breakpoint(medium) {
      grid-column: span 10 / span 10;
      grid-column-start: 2;
    }

    @include breakpoint(large) {
      grid-column: span 8 / span 8;
      grid-column-start: 3;
    }
  }
}