@use "sass:map";

.benefits-grid {

  &--large-icons,
  &--stats {

    .benefits-grid__card .context__heading {
      font-size: rem-calc(40px);

      @include breakpoint(large) {
        font-size: rem-calc(48px);
      }
    }
  }

  &__inner {
    row-gap: 60px;

    @include breakpoint(medium) {
      row-gap: 60px;
    }
  }
  
  &__item {
    grid-column: span 12 / span 12;

    @include breakpoint(medium) {
      grid-column: span 6 / span 6;
    }

    @include breakpoint(large) {
      grid-column: span 3 / span 3;
    }

    .benefits-grid--3-columns & {
      grid-column: span 4 / span 4;
    }

    .benefits-grid--logo-wall & {
      @include breakpoint(large) {
        grid-column: span 2 / span 2;
      }
    }
  }

  &__card {
    .background--indigo & {
      padding: 30px;
      background-color: map.get($cream, light);

      @include breakpoint(large) {
        padding: 40px;
      }
    }

    .benefits-grid--large-icons & {
      text-align: center;
    }

    .benefits-grid--stats & {
      padding: 40px;
      background-color: map.get($cream, light);
      border: 1.5px solid map.get($cream, default);

      .context__heading {
        order: -1;
      }

      .context__subheading {
        @extend .heading-style-4;

        font-weight: 600;
        line-height: 120%;
        text-transform: none;
        letter-spacing: 0.5px;
        color: map.get($indigo, default);
        margin-bottom: 0;
      }

      .context__subheading + .context__heading {
        margin-top: 0;
      }
    }

    .context {
      display: flex;
      flex-direction: column;
    }

    .tag-group {
      order: -1;
      margin-top: 0;
      margin-bottom: 20px;
    }

    .context__subheading {
      margin-bottom: 20px;
    }

    .context__subheading + .tag-group {
      margin-top: 0;
    }

    p {
      font-weight: 400;
    }
  }

  &__icon {
    width: 60px;

    .benefits-grid--large-icons & {
      width: 200px;
      margin: 0 auto;
    }

    .benefits-grid--logo-wall & {
      width: 100%;
    }
  }

  &__icon + .context {
    margin-top: 30px;
  }

  + div {
    margin-top: 80px;
  }
}