@use "sass:map";

.benefits-grid {

  &__inner {
    row-gap: 60px;

    @include breakpoint(medium) {
      row-gap: 60px;
    }
  }
  
  &__item {
    grid-column: span 12 / span 12;

    @include breakpoint(medium) {
      grid-column: span 6 / span 6;
    }

    @include breakpoint(large) {
      grid-column: span 3 / span 3;
    }
  }

  &__card {
    .background--indigo & {
      padding: 30px;
      background-color: $white;

      @include breakpoint(large) {
        padding: 40px;
      }
    }

    p {
      font-weight: 400;
    }
  }

  + div {
    margin-top: 80px;
  }
}