@import '../mixins/mixins-foundation';
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Sora:wght@100..800&display=swap');

// Colors
$white: #ffffff;
$black: #000000;
$gray: #909195;
$indigo: (
  default: #1B00A0,
  dark: #0C0147,
);
$cream: (
  default: #F7F3F0,
  dark: #EFEAE6,
  light: #FCFCF9,
);
$magenta: (
  default: #BE17AC,
  dark: #840777,
  light: #FCE1F9,
);
$green: (
  default: #4AB052,
  dark: #06660E,
  light: #DEF7E0,
);
$aqua: (
  default: #0CB0F1,
  dark: #09678C,
  light: #E0F6FF
);
$honey: (
  default: #FFA621,
  dark: #9F6309,
  light: #FFF5E0
);
$cyan: #66ffff;

// Fonts
$font-primary: 'Sora', sans-serif;
$font-secondary: 'DM Sans', sans-serif;
$font-tertiary: 'DM Mono', monospace;

// Grid
$grid-max-width: rem-calc(1300px);
$grid-column-gutter: (
  small: 20px,
  large: 40px,
);

// Easing
$ease-default: ease-in-out;

// Transitions
$transition-default: 0.2s $ease-default;