@use "sass:map";

.grids-section {

  &__main {
    padding: 130px 0 140px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    &.background--indigo {
      background-color: map.get($indigo, default);
    }

    &.background--cream {
      background-color: map.get($cream, default);
    }

    > div:last-child {
      padding-bottom: 0;
    }

    > .context-section {
      padding-top: 0;
      padding-bottom: 0;
    }

    > .context-section + * {
      // padding-bottom: 80px;
    }

    > .context-section + .benefits-grid,
    .benefits-grid + .benefits-grid,
    .article-grid + .article-grid {
      .context-section {
        &__inner {
          position: relative;

          &::before {
            content: '';
            grid-column: span 12 / span 12;
            padding-bottom: 80px;
            border-top: 2px solid map.get($cream, default);
          }
        }
      }
    }

    > .context-section + .benefits-grid,
    > .context-section + .article-grid {
      margin-top: 80px;
    }
  }

  .benefits-grid,
  .article-grid {

    &:first-child {
      .context-section .button-group {
        top: 0;
      }
    }

    .context-section {
      padding-top: 0;
      padding-bottom: 0;

      &__main {
        @include breakpoint(large) {
          grid-column: span 8 / span 8;
        }
      }

      .button-group {
        @include breakpoint(large) {
          position: absolute;
          top: 80px;
          // top: 0;
          right: 50px;
          margin-top: 0;
        }
      }
    }

    .context-section + .grid {
      margin-top: 40px;
    }
  }

  // .article-grid + .article-grid {
  //   padding-top: 80px;
  //   margin-top: 80px;
  // }

  .media-context {
    padding: 0;
    background-color: transparent;
    border-top: 0;

    &::after {
      display: none;
    }
  }

  .media-context + .article-grid,
  .media-context + .benefits-grid,
  .article-grid + .article-grid {
    margin-top: 80px;
  }

  // .benefits-grid + .benefits-grid {
  //   margin-top: 0;
  // }
}