{% if in_component_library %}
  {% set article = '@article' %}
  {% set contextSection = '@context-section' %}
{% else %}
  {% set article = 'article.twig' %}
  {% set contextSection = 'context-section.twig' %}
{% endif %}

<div class="article-grid article-grid--{{ columns|default('4') }}-columns">
  {% include contextSection with {
    size: 'medium',
    subheading: subheading,
    heading: heading,
    paragraphs: paragraphs,
    btnType: 'hollow-indigo',
    buttons: buttons
  } %}
  <div class="article-grid__inner grid">
    {% for item in items %}
      <div class="article-grid__item">
        {% include article with item %}
      </div>
    {% endfor %}
  </div>
</div>