@use "sass:map";

.header {
  z-index: 100;
  position: relative;
  background-color: map.get($cream, default);

  &__inner {
    width: 100%;
    max-width: 1980px;
    padding: 0 20px;
    margin: 0 auto;

    @include breakpoint(medium) {
      padding: 0 30px;
    }

    @include breakpoint(large) {
      padding: 0 50px;
    }
  }
  
  &__main {
    z-index: 1;
    position: relative;
    display: flex;
    height: 70px;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    background-color: $white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transform: translateY(-100%);

    @include breakpoint(large) {
      padding: 0 40px;
    }
  }

  &__breadcrumbs {
    overflow-x: scroll;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px 40px 0 40px;
    margin-top: -10px;
    background-color: map.get($magenta, light);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transform: translateY(-300%);

    .header--active & {
      display: none;
    }

    .header--institutions & {
      background-color: map.get($aqua, light);
    }

    .header--learners & {
      background-color: map.get($honey, light);
    }

    .header--states & {
      background-color: map.get($green, light);
    }

    ul {
      display: flex;
      gap: 17px;

      a {
        @include nav-style-1;

        display: flex;
        align-items: center;
        color: map.get($magenta, dark);

        &:hover {
          text-decoration: underline;
        }

        .header--institutions & {
          color: map.get($aqua, dark);
        }

        .header--learners & {
          color: map.get($honey, dark);
        }

        .header--states & {
          color: map.get($green, dark);
        }
      }
    }

    li {
      white-space: nowrap;
    }

    li:first-child .chevron {
      display: none;
    }

    li:last-child a {
      font-weight: 900;
      pointer-events: none;
    }

    .chevron {
      width: 11px;
      margin-right: 17px;
      fill: #E9BBE4;
      transform: rotate(-90deg);

      .header--institutions & {
        fill: #9CCEE2;
      }

      .header--learners & {
        fill: #FFD270;
      }

      .header--states & {
        fill: #ABD5AF;
      }
    }
  }

  &__logo {
    font-size: 0;

    &[disabled='true'] {
      pointer-events: none;
    }

    svg {
      fill: map.get($magenta, default);
      width: 90px;
    }

    &:hover {
      svg {
        fill: map.get($magenta, dark); 
      }
    }

  }

  &__nav {
    display: none;
    column-gap: 12px;

    @include breakpoint(large) {
      display: flex;
    }

    > li {
      position: relative;

      &:hover {
        > a {
          color: map.get($magenta, default);
          background-color: map.get($cream, default);

          svg {
            transform: rotate(180deg);
          }
        }

        .header__dropdown {
          visibility: visible;
          opacity: 1;
        }
      }

      > a {
        @include nav-style-1;
  
        color: map.get($indigo, default);
        padding: 8px 16px;
        border-radius: 4px;

        &:hover {
          color: map.get($magenta, dark);
          background-color: map.get($cream, dark);

          svg {
            transform: rotate(180deg);
          }
        }

        svg {
          width: 13px;
          fill: map.get($indigo, default);
          margin-left: 8px;
        }
      }
    }
  }

  &__special-btn {
    position: relative;
    display: none;
    height: 37px;
    font-size: 0;

    @include breakpoint(large) {
      display: flex;
    }

    > a,
    > button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      background-color: map.get($indigo, default);
      border: 0;
      appearance: none;

      &:hover {
        background-color: map.get($indigo, dark);
      }
    }

    > a {
      @include nav-style-1;

      color: $white;
      padding: 0 20px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    > button {
      padding: 0 14px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;

      &:hover {
        cursor: pointer;

        > svg {
          transform: rotate(180deg);
        }

        .header__dropdown {
          opacity: 1;
          visibility: visible;
        }
      }

      > svg {
        width: 13px;
        fill: $white;
      }
    }

    .header__dropdown {
      padding: 30px 14px;
    }
  }

  &__dropdown {
    position: absolute;
    z-index: 20;
    top: 100%;
    left: 50%;
    padding: 16px 14px;
    margin-top: 40px;
    background-color: $white;
    border-radius: 8px;
    box-shadow: 0 2px 16px 0 rgba(74, 74, 74, 0.1);
    transform: translateX(-50%);
    // overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: $transition-default;

    &--solutions,
    &--who-can-benefit {
      @include breakpoint(large) {
        width: 380px;
      }
    }

    &--resources,
    &--company {
      @include breakpoint(large) {
        width: 300px;
      }
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 40px;
      background-color: transparent;
      transform: translateY(-100%);
      content: "";
    }

    h2, h3 {
      text-align: left;
      padding-left: 16px;
    }

    h2 + ul,
    h3 + ul {
      margin-top: 14px;
    }

    h2 + h3 {
      margin-top: 30px;
    }

    > ul li a {
      @include nav-style-1;
  
      display: flex;
      align-items: center;
      width: 100%;
      min-width: 270px;
      padding: 14px 16px;
      border-radius: 4px;
      color: map.get($indigo, default);
      letter-spacing: 0;

      @include breakpoint(medium) {
        white-space: nowrap;
        letter-spacing: 0.5px;
      }

      &:hover {
        color: map.get($magenta, default);
        background-color: map.get($cream, default);

        .header__symbol-wrap {
          background-color: map.get($magenta, default);
        }

        .header__symbol {
          fill: $white;
        }

        .header__arrow {
          fill: map.get($magenta, default);
          transform: translateX(0);
        }

        .tag {
          background-color: $white;
          pointer-events: none;
        }
      }

      > span {
        display: flex;
        flex-direction: column;
        gap: 8px;

        span:nth-child(1) {
          white-space: nowrap;
        }

        span:nth-child(2) {
          font-size: rem-calc(14px);
          color: $gray;
        }
      }

      // TAGGED BUTTON OVERRIDES
      // Tagged buttons meaning anything color
      // coordinated. Not just buttons with
      // literal tags in them
      &.header__tagged-btn {
        &--institutions {
          .header__symbol {
            fill: map.get($aqua, default);
          }

          &:hover {
            color: map.get($aqua, dark);
            background-color: map.get($aqua, light);

            .header__symbol-wrap {
              background-color: map.get($aqua, default);
            }

            .header__symbol {
              fill: map.get($aqua, light);
            }

            > svg {
              fill: map.get($aqua, default);
            }

            > span span:nth-child(2) {
              color: #6FC2E3;
            }
          }
        }

        &--learners {
          .header__symbol {
            fill: map.get($honey, default);
          }

          &:hover {
            color: map.get($honey, dark);
            background-color: map.get($honey, light);

            .header__symbol-wrap {
              background-color: map.get($honey, default);
            }

            .header__symbol {
              fill: map.get($honey, light);
            }

            > svg {
              fill: map.get($honey, default);
            }

            > span span:nth-child(2) {
              color: #DEB16F
            }
          }
        }

        &--states {
          .header__symbol {
            fill: map.get($green, default);
          }

          &:hover {
            color: map.get($green, dark);
            background-color: map.get($green, light);

            .header__symbol-wrap {
              background-color: map.get($green, default);
            }

            .header__symbol {
              fill: map.get($green, light);
            }

            > svg {
              fill: map.get($green, default);
            }

            > span span:nth-child(2) {
              color: #759E7E;
            }
          }
        }

        &--anybody {
          .header__symbol {
            fill: map.get($magenta, default);
          }

          &:hover {
            color: map.get($magenta, dark);
            background-color: map.get($magenta, light);

            > svg {
              fill: map.get($magenta, default);
            }

            > span span:nth-child(2) {
              color: #759E7E;
            }
          }
        }
      }
      // End Tag Buttons
      //////////////////
    }

    > ul li + li {
      margin-top: 6px;
    }

    // TAG
    .tag {
      margin-right: 8px;
      border: 0;
    }

    &--collective-solutions {
      > li a:hover {
        color: map.get($indigo, default);
      }
    }

    &--who-can-benefit {
      .header__tagged-btn {
        &--institutions {
          color: map.get($aqua, dark);
        }

        &--learners {
          color: map.get($honey, dark);
        }

        &--states {
          color: map.get($green, dark);
        }
      }
    }

    &--collective-solutions,
    &--who-can-benefit {
      > ul li a {
        min-width: 350px;
      }
    }

    &--resources {
      > ul li a {
        padding: 7px 16px;
        color: $gray;

        @include breakpoint(large) {
          padding: 10px 16px;
        }
      }

      .tag {
        display: flex;
      }
    }

    hr {
      border-top: 1px solid map.get($cream, default);
      margin: 30px 0;
    }
  }

  &__symbol-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 16px;
    background-color: map.get($cream, default);
    border-radius: 4px;
  }

  &__symbol {
    width: 24px;
    fill: map.get($indigo, default);
  }

  &__arrow,
  &__newtab {
    width: 14px;
    margin-right: 0;
    margin-left: auto;
    fill: transparent;
  }

  &__arrow {
    transform: translateX(-10px);
    transition: 0.2s ease-in-out;
  }

  &__newtab {
    fill: map.get($indigo, default);
  }

  &__symbol-wrap,
  &__symbol,
  &__arrow,
  &__newtab {
    flex-shrink: 0;
  }

  &__utility-nav {
    > li a {
      color: map.get($indigo, default) !important;

      &:hover {
        color: map.get($magenta, default) !important;

        .header__newtab {
          fill: map.get($magenta, default);
        }
      }
    }

    span + .tag {
      margin-left: 8px;
      margin-right: 0;
    }
  }

  &__hamburger {
    display: flex;
    align-items: center;
    width: 30px;
    height: 24px;
    padding: 0;
    margin-left: 24px;
    appearance: none;
    border: 0;
    background-color: transparent;

    @include breakpoint(large) {
      display: none;
    }

    &[aria-expanded='true'] {
      span {
        background-color: transparent !important;

        &::before {
          top: 0;
          transform: rotate(45deg);
        }
  
        &::after {
          top: 0;
          width: 100%;
          transform: rotate(-45deg);
        }

        &::before,
        &::after {
          background-color: map.get($indigo, default);
        }
      }
    }

    span {
      position: relative;
      display: block;
      width: 30px;
      height: 9px;
      background-color: transparent;

      &::before,
      &::after {
        position: absolute;
        left: 0;
        border-radius: inherit;
        width: 100%;
        height: 100%;
        background-color: map.get($indigo, default);
        transform-origin: center;
        transition: inherit;
        content: '';
        border-radius: 10px;
      }

      &::before {
        top: -8px;
      }

      &::after {
        top: 8px;
      }
    }
  }

  &__drawer {
    overflow: scroll;
    width: 100%;
    height: 0;
    padding-bottom: 20px;
    visibility: hidden;
    opacity: 0;
    scrollbar-width: none;

    @include breakpoint(large) {
      visibility: hidden;
      opacity: 0;
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    &::before {
      z-index: 5;
      position: absolute;
      top: 69px;
      left: 0;
      width: 100%;
      height: 60px;
      content: '';
      background:
        linear-gradient(
          to bottom, 
          rgba(247,243,240,1) 20%,
          rgba(247,243,240,0) 100%
        );
    }

    .header--active & {
      height: calc(100vh - 70px);
      padding-top: 60px;
      visibility: visible;
      opacity: 1;
      padding-bottom: 120px;
    }
  
    .header__dropdown {
      position: static;
      padding: 30px 16px;
      margin-top: 0;
      opacity: 1;
      transform: none;

      .header--active & {
        visibility: visible;
      }

      @include breakpoint(medium) {
        grid-column: span 6 / span 6;
      }

      > ul li a {
        min-width: 0;
      }
    }

    h2 {
      font-family: $font-secondary;
      font-size: rem-calc(20px);
      font-weight: 700;
      font-style: normal;
      line-height: 110%;
      text-decoration: underline;
      
      a {
        color: map.get($indigo, default);
      }
    }
  }

  &__dropdown-group {
    z-index: 1;
    position: relative;
    display: grid;
    gap: 30px;

    @include breakpoint(medium) {
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }
  }
}