@use "sass:map";

.article {

  @include breakpoint(medium) {
    display: flex;
    column-gap: 40px;
  }

  @include breakpoint(large) {
    display: block;
  }

  &--parallel {
    @include breakpoint(medium) {
      align-items: flex-start;
    }

    @include breakpoint(large) {
      display: flex;
      column-gap: 40px;
    }

    .context {
      display: flex;
      flex-direction: column;
    }

    .tag-group {
      order: -1;
      margin-top: 0;
      margin-bottom: 20px;
    }

    .context__subheading {
      margin-bottom: 20px;
    }
  }

  &__image {
    @include breakpoint(medium) {
      width: 200px;
      flex-shrink: 0;
    }

    @include breakpoint(large) {
      width: auto;
    }

    .article--parallel & {
      width: 80px;
      border-radius: 0 !important;

      @include breakpoint(medium) {
        width: 80px;
      }

      @include breakpoint(large) {
        width: 80px;
      }
    }

    .background--indigo & {
      border-radius: 20px;
      overflow: hidden;
    }
  }

  &__image + .context {
    margin-top: 16px;

    .article--parallel & {
      @include breakpoint(medium) {
        margin-top: 0;
      }
    }
  }

  .background--indigo & {
    padding: 30px 30px 40px;
    background-color: map.get($cream, light);
  }
}