{% import "macros.twig" as macros %}

{% if in_component_library %}
  {% set context = '@context' %}
{% else %}
  {% set context = 'context.twig' %}
{% endif %}

<article class="article">
  {% if image %}
    <div class="article__image">
      {% if buttons %}
        {% set firstBtn = buttons|first %}
        <a href="{{ firstBtn.button.url }}">
      {% endif %}
        {{ macros.picture(
          'w-full object-cover',
          image.srcset,
          image.src,
          image.sizes.Rectangle,
          image.sizes.Rectangle_mobile,
          image.alt,
          in_component_library
        ) }}
      {% if buttons %}</a>{% endif %}
    </div>
  {% endif %}
    {% include context with {
      size: 'xsmall',
      tags: null,
      heading: heading,
      subheading: subheading,
      paragraphs: paragraphs,
      buttons: {
        size: 'default',
        type: 'text-indigo',
        items: buttons,
      }
    } %}
</article>