{% import "macros.twig" as macros %}

{% if in_component_library %}
  {% set context = '@context' %}
{% else %}
  {% set context = 'context.twig' %}
{% endif %}

<article class="article article--{{ type|default('default') }}">
  {% if image %}
    <div class="article__image">
      {% if buttons %}
        {% set firstBtn = buttons|first %}
        <a href="{{ firstBtn.button.url }}">
      {% endif %}
        {{ macros.picture(
          'w-full object-cover',
          image.srcset,
          image.src,
          image.sizes.Rectangle,
          image.sizes.Rectangle_mobile,
          image.alt,
          in_component_library
        ) }}
      {% if buttons %}</a>{% endif %}
    </div>
  {% endif %}
    {% if tags|length == 1 %}
      {% if tags[0] == 'institutions' %}
        {% set btnType = 'text-aqua' %}
      {% elseif tags[0] == 'learners' %}
        {% set btnType = 'text-honey' %}
      {% elseif tags[0] == 'states' %}
        {% set btnType = 'text-green' %}
      {% endif %}
    {% else %}
      {% set btnType = 'text-indigo' %}
    {% endif %}
    {% include context with {
      size: 'xsmall',
      tags: tags,
      heading: heading,
      subheading: subheading,
      paragraphs: paragraphs,
      buttons: {
        size: 'default',
        type: btnType,
        items: buttons,
      }
    } %}
</article>