{% if in_component_library %}
  {% set context = '@context' %}
{% else %}
  {% set context = 'context.twig' %}
{% endif %}

<div class="context-section context-section--align-{{ align|default('left') }} context-section--background-{{ background|default('default') }}">
  <div class="context-section__inner grid">
    <div class="context-section__main">
    {% include context with {
      size: size|default('large'),
      align: align,
      heading: heading,
      subheading: subheading,
      paragraphs: paragraphs,
      buttons: {
        size: 'default',
        type: background == 'indigo' ? 'white' : 'indigo',
        items: buttons,
      }
    } %}
    </div>
  </div>
</div>