// Buttons
/* ------------------------------------- */


// Button Group
/* ------------------------------------- */

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: rem-calc(16px);
}

.btn {
  &--default {
    @include btn($white, $black, $black, $cyan, '' );
  }

  &--inverse {
    @include btn($black, $white, $black, $cyan, '' );
  }
}