@use "sass:map";

// Button Group
/* ------------------------------------- */

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: rem-calc(16px);

  &--text-indigo,
  &--text-magenta {
    column-gap: 30px !important;
    row-gap: 16px;
  }
}

// Buttons
/* ------------------------------------- */

.btn {
  &--indigo {
    @include btn($white, map.get($indigo, default), $white, map.get($magenta, default), '' );
  }

  &--magenta {
    @include btn($white, map.get($magenta, default), $white, map.get($magenta, dark), '' );
  }

  &--green {
    @include btn($black, map.get($green, default), $white, map.get($green, dark), '' );
  }

  &--aqua {
    @include btn($black, map.get($aqua, default), $white, map.get($aqua, dark), '' );
  }

  &--honey {
    @include btn($black, map.get($honey, default), $white, map.get($honey, dark), '' );
  }

  &--white {
    @include btn(map.get($magenta, default), $white, $white, map.get($magenta, default), '' );
  }

  &--hollow-indigo,
  &--text-indigo {
    @include btn(map.get($indigo, default), $white, map.get($magenta, default), $white, map.get($indigo, default));
  }

  &--hollow-green,
  &--text-green {
    @include btn($black, $white, map.get($green, dark), $white, map.get($green, default));
  }

  &--hollow-aqua,
  &--text-aqua {
    @include btn($black, $white, map.get($aqua, dark), $white, map.get($aqua, default));
  }

  &--hollow-honey,
  &--text-honey {
    @include btn($black, $white, map.get($honey, dark), $white, map.get($honey, default));
  }

  &--hollow-green,
  &--hollow-aqua,
  &--hollow-honey {
    color: $black !important;
  }

  &--text-indigo,
  &--text-magenta,
  &--text-green,
  &--text-aqua,
  &--text-honey {
    padding: 0;
    text-decoration: underline;
    text-underline-offset: 20%;
    background-color: transparent;
    border: 0;

    &:hover {
      background-color: transparent;
    }

    // + * {
    //   margin-left: 20px;
    // }
  }

  &--text-aqua {
    color: map.get($aqua, default);
  }

  &--text-green {
    color: map.get($green, default);
  }

  &--text-honey {
    color: map.get($honey, default);
  }
}

// Tag Group
/* ------------------------------------- */

.tag-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

// Tag
/* ------------------------------------- */

.tag {
  column-gap: 6px;
  font-family: $font-secondary;
  font-size: rem-calc(13px);
  font-weight: 500;
  letter-spacing: 0.5px;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 100px;
  background-color: map.get($cream, default);
  border: 1.5px solid;

  svg {
    width: 10px;

    &.institutions {
      fill: map.get($aqua, default);
    }

    &.states {
      fill: map.get($green, default);
    }

    &.learners {
      fill: map.get($honey, default);
    }
  }

  &--institutions {
    color: map.get($aqua, dark);
    background-color: map.get($aqua, light);
    border-color: map.get($aqua, default);

    svg {
      fill: map.get($aqua, default);
    }

    &:hover {
      background-color: map.get($aqua, default);

      svg {
        fill: map.get($aqua, dark);
      }
    }
  }

  &--learners {
    color: map.get($honey, dark);
    background-color: map.get($honey, light);
    border-color: map.get($honey, default);

    svg {
      fill: map.get($honey, default);
    }

    &:hover {
      background-color: map.get($honey, default);

      svg {
        fill: map.get($honey, dark);
      }
    }
  }

  &--states {
    color: map.get($green, dark);
    background-color: map.get($green, light);
    border-color: map.get($green, default);

    svg {
      fill: map.get($green, default);
    }

    &:hover {
      background-color: map.get($green, default);

      svg {
        fill: map.get($green, dark);
      }
    }
  }

  &--anybody {
    color: map.get($magenta, dark);
    background-color: map.get($magenta, light);
    border-color: map.get($magenta, default);

    svg {
      fill: map.get($magenta, default);
    }
  }
}