@use "sass:map";

.footer {
  position: relative;
  overflow: hidden;
  padding: 70px 0 40px;
  background-color: map.get($cream, default);

  &__main {
    grid-column: span 12 / span 12;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    svg {
      width: 80px;
      fill: map.get($magenta, default);
    }
  }

  &__logo + nav {
    margin-top: 80px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 100%;

    li + li {
      margin-top: 10px;
    }

    + address {
      margin-top: 50px;
    }
  }

  li {
    @include nav-style-1;
    
    color: map.get($indigo, default);
  }

  li a,
  address a {
    @include nav-style-1;
    color: map.get($indigo, default);

    &:hover {
      color: map.get($magenta, default);
      text-decoration: underline;
    }
  }

  &__heading {
    color: map.get($magenta, default);
  }

  &__heading + ul {
    margin-top: 20px;
  }

  address + &__copyright {
    margin-top: 80px;
  }

  &__copyright {
    display: flex;

    li,
    li a {
      font-size: rem-calc(13px);
    }

    li + li {
      padding-left: 8px;
      margin-left: 8px;
      border-left: 2px solid map.get($magenta, default);
    }
  }

  > span {
    position: absolute;
    width: 186px;
    height: 186px;

    &:nth-of-type(1) {
      top: 0;
      left: 0;
      transform: translate(-20%, -50%);
      background-color: map.get($honey, default);
      clip-path: polygon(0 5%, 95% 1%, 100% 95%, 0% 100%);
    }

    &:nth-of-type(2) {
      top: 0;
      right: 0;
      background-color: map.get($green, default);
      transform: translate(20%, -50%);
    }

    &:nth-of-type(3) {
      bottom: 0;
      left: 0;
      background-color: map.get($indigo, default);
      transform: translate(-10%, 40%);
      clip-path: polygon(0 5%, 95% 1%, 100% 95%, 0% 100%);
    }

    &:nth-of-type(4) {
      right: 0;
      bottom: 0;
      background-color: map.get($aqua, default);
      transform: translate(10%, 40%);
      clip-path: polygon(5% 0, 100% 5%, 95% 100%, 0 95%);
    }
  }
}