@use "sass:map";

.cta-context-section {
  position: relative;
  padding: 80px 0;
  background-image: url('../images/pattern1.png');
  background-size: 120px;
  background-color: map.get($indigo, default);
  --before-background: linear-gradient(
    135deg,
    rgba(27,0,160,0) 0%,
    rgba(27,0,160,1) 10%
  );

  &::before {
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: var(--before-background);
  }

  &__main {
    grid-column: span 12 / span 12;

    @include breakpoint(large) {
      grid-column: span 10 / span 10;
      grid-column-start: 2;
    }
  }

  &__context {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 50px 30px 60px;
    background-color: map.get($cream, default);
    border: 30px solid map.get($magenta, default);

    .cta-context-section--small & {
      flex-direction: column;
      align-items: center;
    }

    @include breakpoint(large) {
      padding: 50px 42px 60px;

      .cta-context-section--medium & {
        border: 60px solid map.get($magenta, default);
      }
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 30px;
      height: 30px;
      background-color: $white;

      .cta-context-section--medium & {
        @include breakpoint(large) {
          width: 60px;
          height: 60px;
        }
      }
    }

    &::before {
      top: -30px;
      right: -30px;

      .cta-context-section--medium & {
        @include breakpoint(large) {
          top: -60px;
          right: -60px;
        }
      }
    }

    &::after {
      bottom: -30px;
      left: -30px;

      .cta-context-section--medium & {
        @include breakpoint(large) {
          bottom: -60px;
          left: -60px;
        }
      }
    }

    .context {
      max-width: 800px;
    }
  }

  &__headshot {
    display: block;
    width: 60px;
    margin: 0 auto 16px;
    border-radius: 50%;
    border: 1.5px solid map.get($magenta, default);
  }

  + .grids-section.background--indigo {
    border-radius: 0;
    padding: 80px 0 100px;
  }

  .context__heading {
    font-size: rem-calc(26px);

    @include breakpoint(medium) {
      font-size: rem-calc(34px);
    }
  }
}