<div class="byline">
  <div class="byline__item">
    <div class="byline__subheading subheading-style-1">Published By:</div>
    <div class="byline__heading heading-style-4">{{ author }}</div>
  </div>
  <div class="byline__item">
    <div class="byline__subheading subheading-style-1">Publish Date:</div>
    <div class="byline__heading heading-style-4">{{ date }}</div>
  </div>
  <div class="byline__item">
    <div class="byline__subheading subheading-style-1">For:</div>
    <div class="byline__heading heading-style-4">{{ for }}</div>
  </div>
</div>