@use "sass:map";

.media-context {
  position: relative;
  padding: 80px 0;
  font-size: 0;
  background-color: map.get($cream, default);
  overflow-x: hidden;

  &--display {
    padding: 60px 0 0;
    background-color: map.get($indigo, default);

    @include breakpoint(large) {
      padding: 0;
    }

    .context {
      @include breakpoint(large) {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
      }
    }

    .context__heading {
      font-family: $font-primary;
      font-size: rem-calc(60px);
      font-weight: 700;
      font-style: normal;
      line-height: 110%;
      letter-spacing: -2%;
      color: $white;

      @include breakpoint(medium) {
        font-size: rem-calc(80px);
      }

      @include breakpoint(large) {
        font-size: rem-calc(100px);
        margin-top: 0;
        margin-bottom: auto;
      }
    }

    .context__heading + p {
      margin-top: 30px;

      @include breakpoint(large) {
        margin-top: 0;
      }
    }

    p {
      font-family: $font-secondary;
      font-size: rem-calc(20px);
      font-weight: 400;
      font-style: normal;
      line-height: 125%;
      color: $white;

      @include breakpoint(large) {
        font-size: rem-calc(22px);
      }
    }
  }

  &--medium {
    background-color: $white;

    &::after {
      content: '';
      z-index: 0;
      position: absolute;
      top: 0;
      right: 0;
      display: none;
      width: 560px;
      height: 490px;
      background-color: #FBF9F9;
      transform: rotate(-172deg);

      @include breakpoint(large) {
        display: block;
      }
    }
  }

  &--reversed {
    &::after {
      right: auto;
      left: 0;
      transform: rotate(172deg);
    }
  }

  &__overlay {
    @include breakpoint(large) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .grid {
      height: 100%;

      @include breakpoint(large) {
        column-gap: 0;
      }
    }
  }

  &__big-image {
    margin-top: 60px;

    @include breakpoint(large) {
      width: 50%;
      margin-top: 0;

      .media-context--reversed & {
        display: block;
        margin-right: 0;
        margin-left: auto;
      }
    }
  }

  &__media,
  &__context {
    grid-column: span 12 / span 12;
  }

  &__media {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 0;
    margin-top: 40px;

    @include breakpoint(medium) {
      grid-column: span 5 / span 5;
      display: block;
      margin-top: 0;
    }

    @include breakpoint(large) {
      grid-column: span 6 / span 6;

      .media-context--medium & {
        grid-column: span 5 / span 5;
      }

      .media-context--display & {
        grid-column: span 6 / span 6;
      }
    }

    a {
      position: relative;
      display: block;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        background-color: map.get($magenta, default);

        .media-context--reversed & {
          right: 0;
          left: auto;
        }
      }
    }

    .testimonials-carousel {
      display: block;
      order: -1;
      margin-bottom: 40px;

      @include breakpoint(medium) {
        order: 0;
        margin-top: 40px;
        margin-bottom: 0;
      }

      @include breakpoint(large) {
        display: none;
      }
    }
  }

  &__context {
    z-index: 1;
    position: relative;
    order: -1;

    @include breakpoint(medium) {
      grid-column: span 7 / span 7;
      order: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .media-context--with-testimonials & {
        justify-content: space-between;
      }

      .media-context--display & {
        grid-column: span 12 / span 12;
      }
    }

    @include breakpoint(large) {
      grid-column: span 6 / span 6;

      .media-context--medium & {
        grid-column: span 7 / span 7;
      }

      .media-context--display & {
        grid-column: span 6 / span 6;
        grid-column-start: 7;
        padding: 60px 0 60px 60px;
      }

      .media-context--reversed.media-context--display & {
        grid-column-start: 1;
        padding: 60px 60px 60px 0;
      }
    }

    .media-context--reversed & {
      @include breakpoint(medium) {
        order: -1;
      }
    }

    .testimonials-carousel {
      display: none;

      .media-context--display & {
        display: block;
      }

      @include breakpoint(large) {
        display: block;
      }
    }
  }

  &__special-button-group {
    margin-top: 30px;
  }

  &__special-button-group + .testimonials-carousel {
    margin-top: 40px;
  }

  .context + .testimonials-carousel {
    margin-top: 24px;
  }
}