{% import 'macros.twig' as macros %}
{% import "icons.twig" as icons %}

{% if in_component_library %}
  {% set context = '@context' %}
  {% set videoComponent = '@video' %}
  {% set testimonialsCarousel = '@testimonials-carousel' %}
{% else %}
  {% set context = 'context.twig' %}
  {% set videoComponent = 'video.twig' %}
  {% set testimonialsCarousel = 'testimonials-carousel.twig' %}
{% endif %}

<div class="media-context{% if reverse %} media-context--reversed{% endif %}{% if testimonials %} media-context--with-testimonials{% endif %}">
  <div class="media-context__inner grid">
    <div class="media-context__media">
      {% if video %}
        <component is="modal-btn">
          <div class="video__overlay">
            <div class="video__btn">
              {{ icons.icon('play', 'video__svg') }}
            </div>
          </div>
          {{ macros.picture(
            'w-full',
            image.srcset,
            image.src,
            image.sizes.Rectangle,
            image.sizes.Rectangle_mobile,
            image.alt,
            in_component_library
          ) }}
        </component>
        <component is="modal">
          {% include videoComponent with video %}
        </component>
      {% else %}
        {% if buttons %}
          {% set firstBtn = buttons|first %}
          <a href="{{ firstBtn.button.url }}">
        {% endif %}
          {{ macros.picture(
            'w-full',
            image.srcset,
            image.src,
            image.sizes.Rectangle,
            image.sizes.Rectangle_mobile,
            image.alt,
            in_component_library
          ) }}
        {% if buttons %}</a>{% endif %}
      {% endif %}
      {% if testimonials %}
        {% include testimonialsCarousel with {
          items: testimonials,
        } %}
      {% endif %}
    </div>
    <div class="media-context__context">
      {% include context with {
        size: 'large',
        subheading: subheading,
        heading: heading,
        paragraphs: paragraphs,
        buttons: {
          size: 'default',
          type: btnType,
          items: buttons,
        }
      } %}
      {% if testimonials %}
        {% include testimonialsCarousel with {
          items: testimonials,
        } %}
      {% endif %}
    </div>
  </div>
</div>