{% block html_head_container %}

{% include 'html-header.twig' %}
  {% block head %}
  {% endblock %}
  </head>
{% endblock %}

  <body>
    <div id="app">
      {% include 'header.twig' %}
      <main id="main" class="page">
        {% block content %}
          Sorry, no content
        {% endblock %}
      </main>
      {% include 'footer.twig' %}
      {% block footer %}
        {{ function('wp_footer') }}
      {% endblock %}
    </div>
  </body>
</html>
