<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" href="{{ '/styles/scripts.css'|path }}?t={{ 'now'|date('U') }}">
    <link rel="stylesheet" href="https://use.typekit.net/bkd6lpp.css">
    <title>Preview Layout</title>
  </head>
  <body>
    <div id="app">
      {{ yield }}
    </div>
    <script src="{{ '/scripts.js'|path }}"></script>
  </body>
</html>
