@mixin btn($color, $background, $hover-color: '', $hover-background: '', $border: '') {
  @include subheading-style-1();

  display: inline-flex;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 16px;
  color: $color;
  background-color: $background;
  border: 1px solid;
  transition: $transition-default;

  @if $border == '' {
    border-color: $background;
  }

  @else {
    border-color: $border;
  }

  &:hover {
    color: $hover-color;
    background-color: $hover-background;
    border-color: $hover-background;
  }
}